<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iscas.pm.auth.mapper.PmRolePermissionMapper">

<!--    <resultMap id="ProjectPermission" type="com.iscas.pm.auth.domain.ProjectPermission">-->
<!--        <result property="projectId" column="project_id" jdbcType="VARCHAR"/>-->
<!--        <result property="permissionId" column="permission_id" jdbcType="VARCHAR"/>-->
<!--    </resultMap>-->


<!--    <select id="selectProjectPermissions" resultType="ProjectPermission">-->
<!--        select project_id,permission_id-->
<!--        from pm_project_user_role,pm_role_permission-->
<!--        where pm_project_user_role.role_id=pm_role_permission.role_id and user_id =#{userId}-->
<!--    </select>-->

</mapper>
