<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iscas.pm.auth.mapper.PmRolePermissionMapper">

    <resultMap id="BaseResultMap" type="com.iscas.pm.auth.domain.PmRolePermission">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="roleId" column="role_id" jdbcType="INTEGER"/>
            <result property="permissionId" column="permission_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,permission_id
    </sql>

<!--    -->


<!--    @Select("SELECT pm_role_permission.permission_id " +-->
<!--    " FROM apm_role_permission " +"INNER JOIN pm_project_user_role "-->
<!--    +"ON  pm_role_permission.role_id=pm_project_user_role.role_id  "+-->
<!--    " WHERE  pm_project_user_role.user_id=#{userId} "+"AND pm_project_user_role.project_id=#{projectId}" )-->
    <select id="getPermissionsByUserIdandProjectId" >
        SELECT pm_role_permission.permission_id
        FROM
        apm_role_permission
        INNER JOIN
        pm_project_user_role
        ON
        pm_role_permission.role_id=pm_project_user_role.role_id
        WHERE
        pm_project_user_role.user_id=#{userId}
        AND pm_project_user_role.project_id=#{projectId}
    </select>
</mapper>
