<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iscas.pm.auth.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.iscas.pm.auth.domain.User">
            <id property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="created" column="created" jdbcType="TIMESTAMP"/>
            <result property="updated" column="updated" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId,username,password,
        phone,email,created,
        updated,status,last_login_time
    </sql>

    <!--根据用户名查询用户是否存在-->
    <select id="existsByName" parameterType="java.lang.String" resultType="boolean">
        select count(*)
        from user
        where username=#{name}
    </select>


    <!-- 根据用户名查询用户-->
    <select id="loadUserByUsername" resultMap="BaseResultMap">
        select * from user where username=#{username}
    </select>

</mapper>
