<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iscas.pm.auth.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.iscas.pm.auth.domain.User">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="employeeName" column="employee_name" jdbcType="VARCHAR"/>
        <result property="departmentId" column="department_id" jdbcType="INTEGER"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>


    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,password,
        employee_name,department_id,phone,
        email,status,create_time,
        update_time
    </sql>

    <!--根据用户名查询用户是否存在-->
    <select id="existsByName" parameterType="java.lang.String" resultType="boolean">
        select count(*)
        from auth_user
        where  user_name = #{name}
    </select>


    <!-- 根据用户名查询用户-->
    <select id="loadUserByUsername" resultMap="BaseResultMap">
        select *
        from auth_user
        where user_name= #{username}
    </select>

</mapper>
