<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iscas.pm.api.mapper.dev.DevTaskMapper">

    <resultMap id="BaseResultMap" type="com.iscas.pm.api.model.dev.DevTask">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="worker" column="worker" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="scheduleHour" column="schedule_hour" jdbcType="FLOAT"/>
            <result property="happendHour" column="happend_hour" jdbcType="FLOAT"/>
            <result property="startDate" column="start_date" jdbcType="TIMESTAMP"/>
            <result property="endDate" column="end_date" jdbcType="TIMESTAMP"/>
            <result property="requireId" column="require_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,worker,
        status,schedule_hour,happend_hour,
        start_date,end_date,require_id
    </sql>
</mapper>
