<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.mapper.EnvHardwareMapper">

    <resultMap id="BaseResultMap" type="test.EnvHardware">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="hardwareName" column="hardware_name" jdbcType="VARCHAR"/>
            <result property="minConfig" column="min_config" jdbcType="VARCHAR"/>
            <result property="amount" column="amount" jdbcType="TINYINT"/>
            <result property="application" column="application" jdbcType="VARCHAR"/>
            <result property="usePeriod" column="use_period" jdbcType="DATE"/>
            <result property="security" column="security" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,hardware_name,min_config,
        amount,application,use_period,
        security
    </sql>
</mapper>
