<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iscas.pm.api.mapper.env.EnvSoftwareMapper">

    <resultMap id="BaseResultMap" type="com.iscas.pm.api.model.env.EnvSoftware">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="category" column="category" jdbcType="VARCHAR"/>
            <result property="versionId" column="version_id" jdbcType="VARCHAR"/>
            <result property="source" column="source" jdbcType="VARCHAR"/>
            <result property="application" column="application" jdbcType="VARCHAR"/>
            <result property="medium" column="medium" jdbcType="VARCHAR"/>
            <result property="security" column="security" jdbcType="VARCHAR"/>
            <result property="softName" column="soft_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,category,version_id,
        source,application,medium,
        security,soft_name
    </sql>
</mapper>
