<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iscas.pm.api.mapper.PlanMapper">

    <resultMap id="BaseResultMap" type="com.iscas.pm.api.model.project.Plan">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="wbs" column="wbs" jdbcType="VARCHAR"/>
            <result property="docPath" column="doc_path" jdbcType="VARCHAR"/>
            <result property="isMilestone" column="is_milestone" jdbcType="TINYINT"/>
            <result property="isBaseline" column="is_baseline" jdbcType="TINYINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="woker" column="woker" jdbcType="VARCHAR"/>
            <result property="personCount" column="person_count" jdbcType="TINYINT"/>
            <result property="workingDays" column="working_days" jdbcType="TINYINT"/>
            <result property="startDate" column="start_date" jdbcType="TIMESTAMP"/>
            <result property="endDate" column="end_date" jdbcType="TIMESTAMP"/>
            <result property="scheduleHour" column="schedule_hour" jdbcType="OTHER"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="progressRate" column="progress_rate" jdbcType="FLOAT"/>
            <result property="actualStartDate" column="actual_start_date" jdbcType="TIMESTAMP"/>
            <result property="actualEndDate" column="actual_end_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,wbs,doc_path,
        is_milestone,is_baseline,name,
        woker,person_count,working_days,
        start_date,end_date,schedule_hour,
        status,progress_rate,actual_start_date,
        actual_end_date
    </sql>
</mapper>
