<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iscas.pm.api.mapper.test.TestBugMapper">

    <sql id="Base_Column_List">
        test_bug.*,test_plan.name as planName,dev_modular.name as moduleName,test_bug.create_time as create_time
    </sql>

    <select id="getTestBugList" resultType="com.iscas.pm.api.model.test.TestBug">
        SELECT
        <include refid="Base_Column_List" />
        FROM test_bug ,dev_modular,test_plan
        WHERE test_bug.module_id=dev_modular.id and test_bug.plan_id=test_plan.id
        <if test="param.id !=null">
            and test_bug.id like concat('%',#{param.id},'%')
        </if>
        <if test="param.title !=null and param.title != ''">
            and title like concat('%',#{param.title},'%')
        </if>
        <if test="param.currentProcessor !=null and param.currentProcessor != ''">
            and current_processor=#{param.currentProcessor}
        </if>
        <if test="param.status !=null and param.status != ''">
            and status=#{param.status}
        </if>
        <if test="param.creator !=null and param.creator != ''">
            and creator=#{param.creator}
        </if>
        <if test="param.priority !=null and param.priority != ''">
            and priority=#{param.priority}
        </if>
        <if test="param.type !=null and param.type != ''">
            and type=#{param.type}
        </if>
        <if test="param.planId !=null">
            and plan_id=#{param.planId}
        </if>
        <if test="param.moduleId !=null">
            and module_id=#{param.moduleId}
        </if>
        <if test="param.moduleId !=null">
            and inject_stage=#{param.injectStage}
        </if>
        <if test="param.requirementId !=null">
            and requirement_id=#{param.requirementId}
        </if>

    </select>

</mapper>
