<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iscas.pm.api.mapper.test.TestBugMapper">


    <sql id="Base_Column_List">
        test_bug.*,test_plan.name as planName,dev_modular.name as moduleName,test_bug.create_time as create_time
    </sql>

    <select id="getTestBugList" resultType="com.iscas.pm.api.model.test.TestBug">
        SELECT
        <include refid="Base_Column_List" />
        FROM test_bug ,dev_modular,test_plan
        WHERE test_bug.module_id=dev_modular.id and test_bug.plan_id=test_plan.id
        <if test="param.title !=null and param.title != ''">
            and( title like concat('%',#{param.title},'%')
            <if test="param.id !=null">
                OR test_bug.id like concat('%',#{param.id},'%')
            </if>
            )
        </if>
        <if test="param.currentProcessorList !=null and param.currentProcessorList.size()>0 ">
            and current_processor in
            <foreach item="currentProcessor" index="index" collection="param.currentProcessorList"
                     open="(" separator="," close=")">
                #{currentProcessor}
            </foreach>
        </if>
        <if test="param.statusList !=null and param.statusList.size()>0">
            and status in
            <foreach item="status" index="index" collection="param.statusList"
                     open="(" separator="," close=")">
                #{status}
            </foreach>
        </if>
        <if test="param.creatorList !=null and param.creatorList.size()>0">
            and creator in
                <foreach item="creator" collection="param.creatorList"
                            open="(" separator="," close=")">
                    #{creator}
                </foreach>
        </if>
        <if test="param.priorityList !=null and param.priorityList.size()>0 ">
            and priority in
            <foreach item="priority" collection="param.priorityList"
                     open="(" separator="," close=")">
                #{priority}
            </foreach>
        </if>
        <if test="param.typeList !=null and param.typeList.size()>0 ">
            and type in
            <foreach item="type" index="index" collection="param.typeList"
                     open="(" separator="," close=")">
                #{type}
            </foreach>

        </if>
        <if test="param.planIdList !=null and param.planIdList.size()>0">
            and plan_id in
                <foreach item="planId" index="index" collection="param.planIdList"
                    open="(" separator="," close=")">
                    #{planId}
                </foreach>
        </if>
        <if test="param.moduleIdList !=null and param.moduleIdList.size()>0">
            and module_id in
            <foreach item="moduleId" index="index" collection="param.moduleIdList"
                     open="(" separator="," close=")">
                #{moduleId}
            </foreach>
        </if>
        <if test="param.injectStageList !=null and param.injectStageList.size()>0 ">
            and inject_stage in
            <foreach item="injectStage" index="index" collection="param.injectStageList"
                     open="(" separator="," close=")">
                #{injectStage}
            </foreach>
        </if>
        <if test="param.requirementId !=null">
            and requirement_id=#{param.requirementId}
        </if>
            and test_bug.create_time  BETWEEN  #{param.minCreateTime} and #{param.maxCreateTime}
    </select>

</mapper>
