<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iscas.pm.api.mapper.test.TestBugProcessLogMapper">

    <resultMap id="BaseResultMap" type="com.iscas.pm.api.model.test.TestBugProcessLog">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="bugId" column="bug_id" jdbcType="INTEGER"/>
            <result property="time" column="time" jdbcType="DATE"/>
            <result property="action" column="action" jdbcType="VARCHAR"/>
            <result property="processor" column="processor" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,bug_id,time,
        action,processor,description
    </sql>
</mapper>
