<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iscas.pm.api.mapper.test.TestUseCaseMapper">

    <resultMap id="BaseResultMap" type="com.iscas.pm.api.model.test.TestUseCase">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="VARCHAR"/>
        <result property="creatorId" column="creator_id" jdbcType="INTEGER"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="requirementId" column="requirement_id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="processStep" column="process_step" jdbcType="VARCHAR" typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
        <result property="modularId" column="modular_id" jdbcType="INTEGER"/>
        <result property="precondition" column="precondition" jdbcType="VARCHAR"/>
    </resultMap>



    <sql id="Base_Column_List">
        test_use_case.*,dev_modular.name as modularName
    </sql>


    <select id="testUseCaseListForPlan" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM test_use_case ,dev_modular
        WHERE test_use_case.modular_id=dev_modular.id
        <if test="param.creatorId !=null">
            and test_use_case.creator_id=#{param.creatorId}
        </if>
        <if test="param.requirementId !=null">
            and requirement_id =#{param.requirementId}
        </if>
        <if test="param.useCaseType !=null and param.useCaseType != ''">
            and type =#{param.useCaseType}
        </if>
        <if test="param.modularList !=null and param.modularList.size()>0 ">
            and modular_id in
            <foreach item="modularId" index="index" collection="param.modularList"
                     open="(" separator="," close=")">
                #{modularId}
            </foreach>
        </if>

        <if test="param.titleOrId !=null ">
            and (title like CONCAT(CONCAT('%',#{param.titleOrId,jdbcType=VARCHAR}),'%') or convert(test_use_case.id,char) like CONCAT(CONCAT('%',#{param.titleOrId,jdbcType=VARCHAR}),'%') )
        </if>
    </select>

</mapper>

